body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;

  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p,ul {
  margin: 0;
}
img{
  display: block;
  height: auto;
  max-width:100%;
  
}

.title {
  font-size: 40px;
  margin-bottom: 0;
}
.after-title {
  margin: 20px auto;
}
.img-caption {
  margin: 20px auto;
}
@media (max-width: 480px) {
  h1 {
    font-size: 35px;
    line-height: 1.2;
  }
}
h2 {
  font-size: 32px;
}
a {
  color: #477ca7;
}
a:visited {
  color: #74638f;
}
.main {
  margin: 30px 20px;
  padding: 50px;
  border-radius: 5px;
  background-color: #eee;
}
.img-wrap {
  background: #ffffff;
  padding: 10px;
  margin: 0;
}
h2 {
  text-align: center;
}
ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
li {
  margin: 15px 0;
}
blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}
.blockquote-text {
  margin-bottom: 20px;
}
